@import "tailwindcss";

:root {
  font-family: var(--font-urbanist), sans-serif;
  font-family: var(--font-inter), sans-serif;
  --color-primary: #006A54; 
  --color-secondary: #C19A5D; 
}

.containers {
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .containers {
    width: 90%;
  }
}
