@import "tailwindcss";
@import "swiper/css";

:root {
  font-family: var(--font-urbanist), sans-serif;
  font-family: var(--font-inter), sans-serif;
  --color-primary: #006a54;
  --color-secondary: #c19a5d;

  /* --color-primary: rgba(0, 106, 84, 1); */
  --noise-color: rgba(0, 0, 0, 0.25);
}

.containers {
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .containers {
    width: 90%;
  }
}

.noise-bg {
  background-color: var(--color-primary);
  background-image: repeating-radial-gradient(
    var(--noise-color) 0,
    var(--noise-color) 1px,
    transparent 1px,
    transparent 100%
  );
  background-size: 0.2rem 0.2rem;
}

/* more than 1900px  */
@media (min-width: 1900px) {
  .ambassadorHight {
    @apply h-[1200px] w-[600px];
  }

  .secondHight {
    @apply h-[560px];
  }

  .thirdHight {
    @apply h-[600px];
  }

  .turnPlus {
    @apply rotate-67;
  }

  .turnMinus {
    @apply -rotate-67;
  }
}

/* .noise-bg {
  background-color: var(--color-primary);
  position: relative;
  overflow: hidden;
}

.noise-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from 0deg,
    rgba(0,0,0,0.25) 0%,
    transparent 5%,
    transparent 10%
  );
  mix-blend-mode: overlay;
  opacity: 0.3;
  animation: noise 1s steps(8) infinite;
}

@keyframes noise {
  0% { transform: translate(0,0); }
  100% { transform: translate(5%,5%); }
} */
